.stocks-list .item {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

/* .stocks-list .item:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s;
}

.stocks-list .item:active,
.stocks-list .item:focus {
  background-color: var(--focus-color);
  transition: background-color 0.3s;
} */

.stocks-list .item .content {
  display: flex;
  align-items: center;
}

.stocks-list .item .content .price-container {
  text-align: right;
}

.stocks-list .item .content .delete-button-container {
  margin-left: 16px;
}

.stocks-list .item .stock-price {
  font-weight: 500;
}

.stocks-list .item .stock-earnings.positive {
  color: #00ae00;
}

.stocks-list .item .stock-earnings.negative {
  color: #e40000;
}
