.stocks-list .item {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.stocks-list .item:hover {
  background-color: var(--hover-color);
}

.stocks-list .item:active,
.stocks-list .item:focus {
  background-color: var(--focus-color);
}

.stocks-list .item .content {
  text-align: right;
}

.stocks-list .item .stock-price {
  font-weight: 500;
}

.stocks-list .item .stock-earnings.positive {
  color: #00ae00;
}

.stocks-list .item .stock-earnings.negative {
  color: #e40000;
}
